body {
  text-align: center;
  font-family: Helvetica;
}

.top {
  background-image:url("resources/media/flatiron.JPEG");
  background-size:cover;
}

.top h1 {
  color: white;
}
.top a {
  color: white;
  font-weight: normal;
  font-size: 18px;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

.break {
  background-image:url("resources/media/flatiron.JPEG");
  background-size:cover;
}

.break h3 {
  color: white;
}

footer {
  text-align: left;
  color: white;
  background-color: dimgray;
}

footer a {
  color: white;
  font-size: 14px;
}

.copyright {
  font-size: 11px;
}
